.header-menu {
    background-color:#4e9cd5;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.img-logo{
    width: 6%;
}

h3{
    color: #de0000;
    display: flex;
    align-items: center;
}
